# log文件
/logs/
*/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# 编译目录（maven）
/target/
*/target/
!**/src/main/**/target/
!**/src/test/**/target/

# Gradle
/build/
.gradle

# eclipse文件
.project
.classpath
.metadata
/.settings/
*/.settings/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

# 前端编译文件
/node_modules/
/dist/
*.suo
*.ntvs*
*.njsproj
*.sln

# vscode
.vscode

# iOS
.DS_Store

# svn文件
/.svn/

# 编译目录（electron）
/out/

# 其他文件
*.zip
*.tar
*.tar.gz
*.ipa
*.apk
*.exe
*.rpm
*.rar
*.o
*.lo
*.la
*.al
*.libs
*.so
*.a
*.pyc
*.pyo
*.class
*.rej
*.obj
*.pyw
*.rar
*.ibj
*.iso
*.gz