<div class="ngdialog-message">
    <div class="modal-header">
        #*<h4 class="modal-title">{{${table.entityPath}Title}}</h4>*#
        <h4 class="modal-title">{{title}}</h4>
    </div>
    <form ng-submit="submitForm()" id="${table.entityPath}Form" autocomplete="off">
        <div class="modal-body">
		#foreach($field in ${table.fields})
            <div class="form-group row">
                <label style="text-align: right" class="col-md-2 col-form-label col-form-label-center" for="${field.propertyName}">${field.comment}</label>
                <div class="col-md-9 required">
                    <input type="text" class="form-control" id="${field.propertyName}" ng-model="${table.entityPath}Model.${field.propertyName}" required>
                </div>
            </div>
		#end
        </div>
        <div class="modal-footer">
            <div style="margin:0 auto">
                <button style="position:relative; right:15px"  type="submit" class="btn btn-sm btn-primary mr-2 mb-2"> <i class="fa fa-check icon-on-right"></i> 确认</button>
                <button style="position:relative; left:15px" type="button" class="btn btn-sm btn-default mr-2 mb-2" ng-click="closeThisDialog()"> <i class="fa fa-close icon-on-right"></i> 取消</button>
            </div>
        </div>
    </form>
</div>